.whatido {
  padding: 100px 0;
  background-color: #f5f5f5;
}
.whatido__title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}
.whatido__list {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 50px;
}
.whatido__list-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.whatido__list-item:not(:last-child) {
  width: 48%;
  margin-bottom: 20px;
}
.whatido__list-item--title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.whatido__list-item--text {
  font-size: 1.2rem;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  .whatido__list-item:not(:last-child){
    width: 100%;
  }
}