.landingpage {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgb(33, 37, 41);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landingpage__title {
  font-size: 48px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 24px;
}

.landingpage__subtitle {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 48px;
}

.landingpage__btn {
  font-size: 18px;
  font-weight: 600;
  background-color: rgb(245, 223, 78);
  color: rgb(33, 37, 41);
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.landingpage__btn:hover {
  background-color: #fff;
  color: rgb(33, 37, 41);
}
