.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.back-to-top.show {
  opacity: 1;
  visibility: visible;
}

.back-to-top__button {
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.back-to-top__button:hover {
  background-color: #303f9f;
}
