.aboutme {
  background-color: var(--white-color);
  padding: 80px 10%;
  text-align: center;
  height: 80vh;
}

.aboutme__title {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: var(--black-color);
}

.aboutme__text {
  max-width: 800px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.5;
  color: var(--black-color);
}

.aboutme__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}

.aboutme__label {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  margin-right: 50px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  width: 120px;
  text-align: right;
  display: flex;
  align-items: center;
}

.aboutme__text--info {
  font-size: 16px;
  font-weight: bold;
  color: var(--black-color);
  margin-bottom: 10px;
}

.aboutme__info-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 30px;
  margin-bottom: 30px;
}

.aboutme__info-item:last-child {
  margin-right: 0;
}

.aboutme__info span {
  font-size: 14px;
  color: var(--black-color);
  margin-left: 10px;
}
